.chat-card {
  margin: 1rem 0;
  cursor: pointer;
  height: 6.2rem;
  display: flex;
  align-items: center;
  border-radius: 3.1rem;
  box-shadow: 0 1px 2px rgba(13, 0, 134, 0.1),
    0 1px 6px 1px rgba(13, 0, 134, 0.1);
}

.chat-card-active {
  background-color: var(--main-btnlight-color-tint);
  /* padding: 1rem; */
  /* padding-left: 3.1rem; */
  margin: 1rem 0;
  cursor: pointer;
  height: 6.2rem;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-content: center; */

  border-radius: 3.1rem;

  box-shadow: 0 1px 2px rgba(13, 0, 134, 0.1),
    0 1px 6px 1px rgba(13, 0, 134, 0.1);
}

.chat-card-notified {
  margin: 1rem 0;
  cursor: pointer;
  height: 6.2rem;
  display: flex;
  align-items: center;
  border-radius: 3.1rem;
  box-shadow: 0 1px 2px var(--main-error-color),
    0 1px 6px 1px var(--main-error-color);
}

.flex-item {
  display: flex;
}

.p-username {
  font-weight: 500;
}

.p-username-notified {
  font-weight: 600;
  color: var(--main-error-color);
}

.p-user-status {
  display: flex;
  font-size: 1.2rem;
}

.div-online {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--main-success-color);
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}

.div-offline {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--main-error-color);
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}

.chat-img-container {
  height: 3.1rem;
  margin-left: 2.1rem;
  margin-right: 0.8rem;
}

.chat-img {
  height: 3.1rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
