.container {
  display: flex;
  justify-content: space-between;
  height: 5.2rem;
  font-size: 1.6rem;
  padding: 0 1.8rem;
  color: var(--main-primary-color);
}

.container-item {
  display: flex;
  cursor: pointer;
}

.container-item-label {
  /* padding: 1rem; */
  line-height: 5.2rem;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
  /* width: 100%; */
  width: 12.2rem;
}

.container-item-label-border {
  /* padding: 1rem; */
  line-height: 5.2rem;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
  /* width: 100%; */
  width: 12.2rem;
  border-bottom: 1px solid var(--main-primary-color);
}

.container-item-dropdown {
  width: 12.2rem;
}

.main-nav-link {
  color: var(--main-primary-color);
}

/* .main-nav-link:visited */
.main-nav-link:link {
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover {
  color: var(--main-tints-color);
}

.mobile-icon {
  line-height: 5.2rem;
}
