.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  height: 9.6rem;
  padding: 0 4.8rem;
}

/* .logo {
  height: 2.4rem;
  line-height: 2.4rem;
} */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link {
  color: var(--main-primary-color);
}

/* .main-nav-link:visited */
.main-nav-link:link {
  text-decoration: none;
  transition: all 0.3s;
}

/* .main-nav-link:active */
.main-nav-link:hover {
  color: blueviolet;
}
