.btn-light {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-btnlight-color);
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  color: var(--main-primary-color);
  font-weight: 600;
  border: none;
  font-size: 1.2rem;
  border-radius: 2.2rem;
  /* width: 12rem; */
  /* height: 4.2rem; */
}

.btn-light:hover {
  background-color: var(--main-cta-light-hover-color);
}

.btn-light:disabled {
  cursor: auto;
}

.btn-dark-sm {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-primary-color);
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 1.2rem;
  border-radius: 2.2rem;
  /* width: 12rem; */
  /* height: 4.2rem; */
}

.btn-dark-sm:hover {
  background-color: var(--main-tints-color);
  background-color: var(--main-primary-color);
}

.btn-dark {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-primary-color);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 1.4rem;
  border-radius: 2.2rem;
}

.btn-dark:hover {
  background-color: var(--main-tints-color);
}

.btn-dark:disabled {
  cursor: auto;
  background-color: var(--main-disabled-color);
}

.btn-light-big {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  color: var(--main-primary-color);
  font-weight: 600;
  font-size: 1.4rem;
  border: 1px solid var(--main-primary-color);
  border-radius: 2.2rem;
}

.btn-light-big:hover {
  background-color: var(--main-primary-color);
  color: white;
}

.btn-light-small {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  color: var(--main-primary-color);
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid var(--main-primary-color);
  border-radius: 2.2rem;
}

.btn-light-small:hover {
  background-color: var(--main-primary-color);
  color: white;
}
