.btn-light {
  background-color: var(--main-btnlight-color);
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  color: var(--main-primary-color);
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  border-radius: 2.2rem;
  /* width: 12rem; */
  /* height: 4.2rem; */
}

.btn-light:hover {
  background-color: var(--main-cta-light-hover-color);
}

.btn-dark {
  background-color: var(--main-primary-color);
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  border-radius: 2.2rem;
}

.btn-dark:hover {
  background-color: var(--main-tints-color);
}
