/* --------------------------------- */
/* CARDS */
.div-card-container-25 {
  width: 40rem;
  background-color: beige;
}

.white-card {
  width: 24.8rem;
  height: 28.2rem;
}

.main-card-container {
  /* aspect-ratio: 1 / 1; */
  text-align: center;
  width: 24.8rem;
  /* height: 28.2rem; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 25px 0px rgba(13, 0, 134, 0.1); */
  box-shadow: 0 1px 4px rgba(13, 0, 134, 0.1),
    0 1px 12px 1px rgba(13, 0, 134, 0.1);
  border-radius: var(--main-border-radius);
}

.card-header {
  display: flex;
}

.card-group-header {
  display: flex;
  height: 5.2rem;
  align-items: center;
  justify-content: center;
}

.card-img-container {
  width: 25%;
  /* padding: 0.4rem 0.8rem; */
  margin: 0.4rem 0rem 0.4rem 1.2rem;
}

.card-img {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  /* border: 1px solid var(--main-primary-color); */
}

.card-header-username-country {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: center;
  text-align: left;
  padding-left: 1.2rem;
  /* margin-top: 6.5%; */
}

.card-header-username {
  font-weight: bold;
  /* flex-grow: 1; */
}

.card-header-country {
  font-size: 1.2rem;
  /* flex-grow: 1; */
}

.card-description {
  padding: 0.8rem;
  font-size: 1.3rem;
  font-style: italic;
}

.card-learning {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem 0;
}

.tech-span-box {
  height: 9.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* align-items: flex-start; */
  flex-grow: 1;
  padding: 0.4rem 0.4rem;
}

.tech-span-box-left {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
    align-content: center; */
  /* align-items: flex-start; */
  flex-grow: 1;
}

.tech-span {
  display: flex;
  margin: 0.1rem 0.3rem;
  padding: 0.4rem 1.2rem;
  /* border-radius: 0.6rem; */
  border-radius: 2rem 0.6rem 0.6rem 2rem;
  border: 1.5px solid var(--main-tints-color);
  /* background-color: #4a34d8; */
  font-style: italic;
  color: var(--main-tints-color);
  /* cursor: pointer; */
  font-size: 1.2rem;
}

.tag-div {
  margin-right: 0.8rem;
  margin-left: -0.6rem;
}

.card-group-available {
  margin-bottom: 1.2rem;
  color: var(--main-success-color);
}

.card-group-unavailable {
  margin-bottom: 1.2rem;
  color: var(--main-error-color);
}

.card-footer {
  display: flex;
  justify-content: center;
  padding: 0.8rem 1.2rem 1.6rem;
  /* background-color: #a0cdf1; */
}

.card-footer-profile {
  width: fit-content;
  /* flex-grow: 1; */
  font-weight: bold;
  font-size: 1.2rem;
  /* padding-top: 0.5rem; */
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  border-radius: 2rem;
  background-color: var(--main-btnlight-color);
}

.card-footer-message {
  flex-grow: 1;
}
