/* ----------- */
/*    FORMS    */
/* ----------- */
.container {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  /* text-align: center; */
  width: 32rem;
  margin: auto;
  padding: 2.4rem;
  /* margin: 1rem; */
}

.myform-input-section {
  padding: 1.2rem 0;
}

.myform-label {
  display: block;
  width: 90%;
  text-align: left;
}

.myform-text-input {
  width: 100%;
}

.myform-select-input {
  width: 100%;
}

.btn-container {
  text-align: center;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.4rem;
  /* text-align: left; */
}

/* INPUTS */

.number-input {
  width: 20rem;
  border: 0.3px solid var(--main-tints-color);
  /* transform: translateY(1.6px); */
}

.number-input:focus {
  outline: none !important;
  border: 1.6px solid var(--main-tints-color);
}

.number-input-invalid {
  outline: none !important;
  border: 1px solid var(--main-error-color);
  background-color: #ffe1f4;
  width: 20rem;
}

.number-input-invalid:focus {
  outline: none !important;
  border: 1.6px solid var(--main-error-color);
  /* background-color: #ffe1f4;
  width: 20rem; */
}

/* error message */
.input-error-msg {
  font-size: 1.2rem;
  color: var(--main-error-color);
}

.input-error-msg-none {
  font-size: 1.2rem;
  visibility: hidden;
}

/* BUTTONS */
.btn-circle {
  font-weight: bold;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 1.6rem;
  cursor: pointer;
  background-color: var(--main-btnlight-color);
  border: 0.1rem solid var(--main-primary-color);
}

.input-invalid {
  border: 0.1rem solid var(--main-error-color);
  background-color: #ffe1f4;
  width: 100%;
}

.input-invalid:focus {
  border-color: #ffa9de;
  background-color: #ffc6e9;
}

.submit-error-msg {
  padding-top: 0.4rem;
  font-size: 1.6rem;
  color: var(--main-error-color);
  /* font-weight: bold; */
}

.submit-success-msg {
  padding-top: 0.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--main-primary-color);
}

/* FIELDSET */
.fieldset-error {
  border: 0.05rem solid var(--main-error-color);
}

/* IMAGE */
.img-input-container {
  width: 100%;
}
