/* GENERAL */
.gap-24 {
  gap: 2.4rem;
}

/* GRID LAYOUT */
.grid {
  display: grid;
  /* gap: 2.4rem; */
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid---2cols-15-85 {
  grid-template-columns: 15% 85%;
}

.grid---2cols-85-15 {
  grid-template-columns: 85% 15%;
}

.grid---2cols-20-80 {
  grid-template-columns: 20% 80%;
}

.grid---3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid---3cols-454510 {
  grid-template-columns: 45% 45% 10%;
  gap: 0;
}

.grid---3cols-108010 {
  grid-template-columns: 10% 80% 10%;
  gap: 0;
}

.grid---4cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid---1row {
  grid-auto-flow: column;
  /* overflow-x: scroll; */
  overflow: auto;
}

.grid---4cols-10305010 {
  grid-template-columns: 10% 30% 50% 10%;
  gap: 0;
}

/* FLEX LAYOUT */
.overflower {
  overflow-x: scroll;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 2.3rem;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-flex-start {
  justify-content: flex-start;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-item-grow-1 {
  flex-grow: 1;
}

/* .test-column {
  width: 100%;
} */

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media (max-width: 768px) {
  .grid--2cols {
    grid-template-columns: repeat(1, 1fr);
  }
}
