/* ----------------- */
/*  UTILITY CLASSES  */
/* ----------------- */

.margin-6auto {
  margin: 0.6rem auto;
}

.width-45 {
  width: 45%;
  /* text-align: center; */
}

.width-25 {
  width: 25%;
}

.width-80 {
  width: 80%;
}

.center-text {
  text-align: center;
}

.test-newline {
  white-space: pre-wrap;
}

/* PADDING */
.padding-2rem {
  padding: 2rem;
}

.padding-3rem {
  padding: 3rem;
}
