/* ----------------- */
/*  UTILITY CLASSES  */
/* ----------------- */

/* WIDTH */

.width-45 {
  width: 45%;
  /* text-align: center; */
}

.width-25 {
  width: 25%;
}

.width-80 {
  width: 80%;
}

/* MARGIN */
.margin-6auto {
  margin: 0.6rem auto;
}

.margin-auto {
  margin: auto;
}

/* PADDING */
.padding-2rem {
  padding: 2rem;
}

.padding-3rem {
  padding: 3rem;
}

/* MESSAGES */
.availability-msg {
  color: var(--main-success-color);
}

.unavailability-msg {
  color: var(--main-error-color);
}

/* TEXT */
.bold {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.test-newline {
  white-space: pre-wrap;
}

/* BORDER */
.border-top-primary {
  border-top: 1px solid var(--main-primary-color);
}
