/* ----------------- */
/*  UTILITY CLASSES  */
/* ----------------- */

/* WIDTH */

.width-50 {
  width: 50%;
}

.width-45 {
  width: 45%;
  /* text-align: center; */
}

.width-25 {
  width: 25%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

/* MARGIN */
.margin-6auto {
  margin: 0.6rem auto;
}

.margin-auto {
  margin: auto;
}

/* PADDING */
.padding-12rem {
  padding: 1.2rem;
}

.padding-2rem {
  padding: 2rem;
}

.padding-3rem {
  padding: 3rem;
}

/* MESSAGES */
.availability-msg {
  color: var(--main-success-color);
}

.unavailability-msg {
  color: var(--main-error-color);
}

/* TEXT */
.bold {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.text-newline {
  white-space: pre-wrap;
}

.font-12 {
  font-size: 1.4rem;
}

/* BORDER */
.border-top-primary {
  border-top: 1px solid var(--main-primary-color);
}

/* SHADOW */
.bottom-shadow {
  box-shadow: 0px 5px 10px -6px rgba(13, 0, 134, 0.05);
}

/* CURSOR */
.pointer {
  cursor: pointer;
}

/* LISTS */
.no-bullets {
  list-style-type: none;
}
